*{
  margin: 0;
  padding: 0;
}
.area{
  position:relative;
  margin:20px auto;
  width:100vh;
  height:80vh;
  border:2px solid black;
  background-color: white;
}
.dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
  z-index: 2;
}
.food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid white;
  border-radius: 100%;
  z-index: 1;
}